[Desktop Entry]
Type=Application
Icon=folder/Snu Photo Manager/data/icon.png
Name=Snu Photo Manager
Terminal=false
Path=folder/Snu Photo Manager
Exec="folder/Snu Photo Manager/Snu Photo Manager"
Hidden=false
